<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd    
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd    
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd    
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
	<!-- 导入配置文件 -->

	<mvc:default-servlet-handler/>
	<context:property-placeholder location="classpath:sysconfig.properties" />
	<!-- 对web包中的所有类进行扫描，以完成Bean创建和自动依赖注入的功能 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
	     <property name="messageConverters">
	         <list>
	             <bean id="utf8StringHttpMessageConverter" class="com.bugframework.common.utility.UTF8StringHttpMessageConverter"/>
	         </list>
	     </property>
	</bean>
	<context:component-scan base-package="com.*" >
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />
 </context:component-scan>
 	
	
	 <!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
	 <bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
	  <property name="supportedMediaTypes">
	   <list>
	    <value>text/html;charset=UTF-8</value>
	   </list>
	  </property>
	 </bean>
	 <!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射， 配置一个基于注解的定制的WebBindingInitializer，解决日期转换问题，方法级别的处理器映射 -->
	 <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
	  <property name="cacheSeconds" value="0" />
	  <property name="messageConverters">
	   <list>
	    <ref bean="mappingJacksonHttpMessageConverter" /> 
	   </list>
	  </property>
	  
	 </bean>  
	 
	  <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">   
        <property name="converters">   
            <list>   
            <bean class="com.bugframework.common.utility.MyWebBinding" />    
            </list>   
        </property>   
          
    </bean> 
 	<context:annotation-config />
 	<mvc:annotation-driven  conversion-service="conversionService" />  <!-- 支持spring3.0新的mvc注解 -->
 	
	<!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="cacheSeconds" value="0" />
		<property name="messageConverters">
			<list>
				<bean
					class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"></bean>
			</list>
		</property>
	</bean>

  <mvc:resources  location="/rs/css/" mapping="/rs/css/**" />
	<mvc:resources  location="/rs/js/" mapping="/rs/js/**" />
	<mvc:resources  location="/rs/images/" mapping="/rs/images/**"  />
	<mvc:resources  location="/rs/skin/" mapping="/rs/skin/**"  />
	<mvc:resources  location="/rs/lib/" mapping="/rs/lib/**"  />
	<mvc:resources  location="file:D:\\Temp\\" mapping="/fileupload/**"  />
	<!--<mvc:resources  location="file:E:\\git_project_xuzengfei\\foxSync\\weischool\\web\\rs\\css\\" mapping="/rs/css/**" />
	<mvc:resources  location="file:E:\\git_project_xuzengfei\\foxSync\\weischool\\web\\rs\\js\\" mapping="/rs/js/**" />
	<mvc:resources  location="file:E:\\git_project_xuzengfei\\foxSync\\weischool\\web\\rs\\images\\" mapping="/rs/images/**"  />
	<mvc:resources  location="file:E:\\git_project_xuzengfei\\foxSync\\weischool\\web\\rs\\skin\\" mapping="/rs/skin/**"  />
	<mvc:resources  location="file:E:\\git_project_xuzengfei\\foxSync\\weischool\\web\\rs\\lib\\" mapping="/rs/lib/**"  />
	<mvc:resources  location="file:D:\\Temp\\" mapping="/fileupload/**"  />-->

	<!--  	<mvc:resources  location="file:/usr/share/tomcat7/webapps/weischool/rs/css/" mapping="/rs/css/**" />
        <mvc:resources  location="file:/usr/share/tomcat7/webapps/weischool/rs/js/" mapping="/rs/js/**" />
        <mvc:resources  location="file:/usr/share/tomcat7/webapps/weischool/rs/images/" mapping="/rs/images/**"  />
        <mvc:resources  location="file:/usr/share/tomcat7/webapps/weischool/rs/skin/" mapping="/rs/skin/**"  />
        <mvc:resources  location="file:/usr/share/tomcat7/webapps/weischool/rs/lib/" mapping="/rs/lib/**"  />
        <mvc:resources  location="file:/usr/share/tomcat7/file/" mapping="/fileupload/**"  />

    -->

        <mvc:interceptors>
             <mvc:interceptor>
                <mvc:mapping path="/auth/**"/>
                <mvc:mapping path="/admin/**"/>
                 <mvc:mapping path="/web/manager/**"/>
                <bean class="com.bugframework.common.interceptor.Interceptor">
                 <property name="excludeUrls">
                      <list>
                          <value>auth/captcha</value>
                         <value>auth/login</value>
                        <value>auth/login/logout</value>
                        <value>auth/login/checkuser</value>
                        <value>auth/login/checkKey</value>
                      </list>
                 </property>
                </bean>
            </mvc:interceptor>
			<mvc:interceptor>
				<mvc:mapping path="/wei/**"/>
				<bean class="com.ws.controller.wei.interceptor.Interceptor" >
					<property name="excludeUrls">
						<list>
							<value>wei/user/code</value>
							<value>wei/user/authorization</value>
							<value>wei/user/login</value>
							<value>wei/campus/list</value>
						</list>
					</property>
				</bean>
			</mvc:interceptor>
        </mvc:interceptors>



        <!--对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/WEB-INF/jsp/"
		p:suffix=".jsp">
		<!-- 如果使用jstl的话，配置下面的属性 -->
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
	</bean>

	<!-- 处理文件上传 -->
	<bean id="multipartResolver"
		 class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"></property>  
		<property name="maxUploadSize" value="10485760" /> <!-- 最大文件大小，-1为无限止(-1) ,这里设置最多能上传10M-->
		 <property name="maxInMemorySize" value="40960"></property>  
	</bean>



<bean class="com.bugframework.common.utility.SpringContextUtil" name="springContextUtil" />


<!-- Kaptcha验证码生成器 -->
<bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
    <property name="config">
        <bean class="com.google.code.kaptcha.util.Config">
            <constructor-arg>
                <props>
                    <prop key="kaptcha.border">yes</prop>
                    <prop key="kaptcha.border.color">105,179,90</prop>
                    <prop key="kaptcha.textproducer.font.color">blue</prop>
                    <prop key="kaptcha.obscurificator.impl">com.google.code.kaptcha.impl.ShadowGimpy</prop>
                    <prop key="kaptcha.image.width">125</prop>
                    <prop key="kaptcha.image.height">48</prop>
                    <prop key="kaptcha.textproducer.font.size">45</prop>
                    <prop key="kaptcha.session.key">code</prop>
                    <prop key="kaptcha.textproducer.char.length">4</prop>
                    <prop key="kaptcha.textproducer.font.names">宋体,楷体</prop>
                </props>
            </constructor-arg>
        </bean>
    </property>
</bean>
</beans>
