body{
    background-color: #f2f2f2;
}
.container{
    text-align: center;
    padding-top:110px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom:55px;
}
.boxes{
    padding-right: 15px;
    padding-left: 15px;
}
.box{
    width: 50%;
    height: 90px;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    margin-top: 20px;
}
.border-bottom{
    background-color: #593e0b;
    width: 100%;
    height: 6px;
    margin-top: -9px;
}
.border-bottom-shadow{
    background:rgba(177,175,175,0.72);
    width: 101%;
    height: 6px;
    margin-left: 1px;
}
.certificate{
    width: 100%;
    height:85px;
    text-align: left;
    margin: 0;
    padding-left:8px;
    padding-right: 8px;
}
.certificate img{
    width: 100%;
    height: 80px;
}
.certificate p{
    background-color:#ffffff;
    opacity: 0.7;
    width: 100%;
    height: 15px;
    margin-top: -15px;
    text-align: center;
    padding-top: 2px;
    font-family: myFonts;
    font-weight: normal;
}
a,a:link.a:active,a:hover{
    color: #000000;
}
.certificateTitle{
    color: #000;
    font-size: 15px;
    font-family:myFonts;
    font-weight: normal;
    width: 100%;
    text-align: left;
    margin:5px 0;
    padding: 0;
}
.certificateDate{
    color: #c8c8c8;
    font-size: 10px;
    font-family: myFonts;
    font-weight: normal;
    width: 100%;
    text-align: left;
    margin:5px 0;
    padding: 0;
}
.certificateImg{
    width: 100%;
    height: auto;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.certificateContent{
    text-align: center;
    margin: 15px auto;
    font-size: 12px;
    font-family: myFonts;
    font-weight: normal;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
