body{
    background-color: #f2f2f2;
}
a,a:hover,a:link,a:active{
    color: #6a6a6a;
    text-decoration: none;
    outline: none;
}
.container{
    text-align: center;
    padding-top:110px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    bottom:55px;
}
.headTitle{
    height: 180px;
    width:100%;
    border: #225b5c solid 5px;
    box-shadow: 4px 4px 1px #827f80;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px;
    background-color: #ffffff;
    margin-top: 15px;
    border-radius: 10px;
}
.headTitle>img{
    width: 100%;
    height: 130px;
}
.headTitle>p{
    font-size: 18px;
    font-family: SIYUAN3;
    margin:2px 0;
    padding:0;
}
.list-group{
    margin-top:30px;
    padding-left:15px;
    padding-right: 15px;
}
.list-group-item{
    border: none;
    border-bottom: #1bb9e0 solid 1px;
    background-color: #f2f2f2;
    height: 35px;
    padding: 0;
    margin: 0;
    text-align: left;
}
.title{
    font-size: 15px;
    width: 80%;
    text-align: left;
    padding-left: 0;
    color: #6a6a6a;
    font-family: SIYUAN2;
    padding-top:8px;
}
.date{
    font-size: 12px;
    float: right;
    margin-top: -35px;
    color: #6a6a6a;
    font-family: SIYUAN3;
}
.new{
    width: 23px;
    height: 13px;
    position: absolute;
    margin-left: -10px;
    margin-top: -2px;
}