*{
    margin: 0;
    padding: 0;
}
a:hover,a,a:visited,a:active{
    color: #ffffff;
    text-decoration: none;
}
html,body{
    height:100%;
    width:100%;
}
@font-face {
    font-family:'SIYUAN1';
    src: url('../fonts/SOURCEHANSANSCN-BOLD.OTF');
}
@font-face {
    font-family:'SIYUAN2';
    src: url('../fonts/SOURCEHANSANSCN-MEDIUM.OTF');
}
@font-face {
    font-family:'SIYUAN3';
    src: url('../fonts/SOURCEHANSANSCN-LIGHT.OTF');
}
.container{
    padding:0;
    overflow-y: auto;
    overflow-x: hidden;
    margin:0;
    height: 100%;
     width: 100%;
    -webkit-overflow-scrolling:touch;
}
.header{
    position: absolute;
    top:0;
    left:0;
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    text-align: center;
    color: #000000;
    font-size: 24px;
    padding-top: 8px;
    font-family:SIYUAN12;
}
.header span{
    position: absolute;
    left: 12px;
    font-size: 24px;
    color: #070707;
    margin-top: 5px;
}
.top{
    background-image: url("../images/index_top.png");
    background-size: 100% 100%;
    width: 100%;
    height:180px;
    text-align: center;
}
.top img{
    width:80px;
    height: 80px;
    margin-top: 5px;
}
.userMsg{
    width: 100%;
    padding: 0;
    color: #ffffff;
    height:70px;
    padding-top:15px;
}
.userMsg .col-xs-4{
    text-align: center;
    font-size:16px;
    padding-left: 5px;
    padding-right: 5px;
}
.userMsg .col-xs-4 h5{
	display:inline;
	font-size:16px;
}
.last_class{
    color: #ffffff;
    font-size:15px;
    letter-spacing: 2px;
    margin-left: 5px;
    float: left;
    width: 45%;
    padding:0;
}
.last_class p{
    width: 60px;
    display: inline-block;
    color: yellow;
    margin-top:0;
    margin-bottom:0;
    text-align:center;
}
.area{
    color: #ffffff;
    font-size:15px;
    float: right;
    margin-right: 5px;
    width:30%;
    margin-top:0;
}
.area img{
    width:15px;
    height: auto;
    margin-top:-2px;
}
.middle .col-xs-4{
    text-align: center;
    height:auto;
    padding-top:20px;
}
.middle .col-xs-4 p{
    font-size: 15px;
    letter-spacing: 2px;
    color: #1bb9e0;
    margin-top: 0;
}
.icon-icon5,.icon-icon4,.icon-icon10,.icon-icon11,.icon-icon9,.icon-icon8,.icon-icon7,.icon-icon6{
    font-size:45px;
}
.col-xs-4 img{
    width: 100%;
    height: auto;
}
.bottom{
    width: 100%;
    background-color: #1bb9e0;
    position: absolute;
    bottom: 0;
    height: 50px;
    text-align: center;
    padding:0;
    margin: 0;
    left:0;
}
.bottom .col-xs-4{
    background-color:  #1bb9e0;
    height:100%;
}
.icon-icon3,.icon-icon2,.icon-icon1{
    font-size: 20px;
    display:inline-block;
    margin-top:5px;
    margin-bottom:0;
}
.bottom .col-xs-4 p{
    color: #ffffff;
    font-size: 15px;
    margin-top: 0;
    padding:0;
    margin-bottom:0;
}



