body{
    background-color: #f2f2f2;
}
a,a:hover,a:link,a:active{
    text-decoration: none;
    outline: none;
}
.container{
    padding-top: 50px;
    padding-right:20px;
    padding-left: 20px;
}
.lifeBox{
    width: 100%;
    margin-top: 20px;
}
.date{
    font-size: 10px;
    color: #a9a9a9;
    font-family: myFonts;
    font-weight: normal;
    text-align: center;
    margin: 0 0 5px 0;
}
.photo{
    background-color: #ffffff;
    border: #d1d1d1 solid 1px;
    border-radius: 10px;
    text-align: center;
    height: 180px;
    padding:15px;
}
.photo>img{
    width: 100%;
    height: 130px;
}
.photo>p{
    color: #000;
    font-size: 15px;
    font-family: myFonts;
    font-weight: normal;
    padding: 0;
    margin:5px 0;
}