body{
    background-color: #f2f2f2;
}
a,a:hover,a:active,a:link{
    text-decoration: none;
}
.container{
    text-align: center;
    padding-top: 30px;
}
.classTop{
    position: relative;
    text-align: left;
    margin-top: 18px;
    margin-right: 10px;
    margin-left: 10px;
}
.classTop img h5,h3{
    position: absolute;
    padding:0;
    margin: 0;
}
.classTop h5,h3,h4{
    margin-left:95px;
    font-family: myFonts;
    font-weight: normal;
}
.classTop>h3{
    font-size: 24px;
    margin-top:-85px;
    color: #000000;
}
.classTop h5{
    font-size: 15px;
    color: #737373;
    margin-top: -50px;
    font-family: myFonts;
    font-weight: normal;
}
.classTop h4{
    font-size: 12px;
    color: #6a6a6a;
    font-family: myFonts;
    font-weight: normal;
}
.classTop img{
    width: 85px;
    height: 85px;
}
.list-group{
    margin-top: 30px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}
.addressChoose{
    width: 100%;
    text-align: left;
}
.addressChoose>p{
    display: inline-block;
    color: #464646;
    font-size: 12px;
    font-family: myFonts;
    font-weight: normal;
    padding: 0;
    margin: 0;
}
.point{
    width: 10px;
    height: auto;
}
.list-group-item{
    background-color: #f2f2f2;
    height: 50px;
    border: none;
    border-bottom: #a4a4a4 solid 1px;
    padding:5px 0;
    margin-top: 10px;
}
.className,.time{
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: left;
    margin-left: 10px;
    padding-top:3px;
}
.className{
    font-size: 15px;
    color: #000000;
}
.time{
    font-size: 10px;
    color: #6a6a6a;
}
.statue{
    width: 40px;
    height: 40px;
    background-color: #a4a4a4;
    color: #ffffff;
    border: none;
    display: inline-block;
    float: left;
    border-radius: 8px;
    font-size: 14px;
    font-family: myFonts;
    font-weight: normal;
    line-height: 15px;
}
.callNameBtn{
    width: 50px;
    height: 25px;
    background-color: #a4a4a4;
    color: #ffffff;
    border: none;
    float: right;
    border-radius:7px;
    font-size: 14px;
    font-family: myFonts;
    font-weight: normal;
    margin-top: -15px;
}
.callNameList{
    padding-right:0;
    padding-left: 0;
    width: 100%;
}
.callNameList>.list-group-item{
    border-bottom: none;
    margin: 0 auto;
    /*display: inline-block;*/
    margin-top: 5px;
}
.callNameList>.list-group-item>img{
    width: 45px;
    height: 45px;
   margin-top: -32px;
}
.statueCall{
    color: #6a6a6a;
    font-size: 10px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    padding:0;
    display: inline-block;
    float: left;
    margin-left: 2px;
}
.stuName{
    font-size: 15px;
    margin-bottom:0;
    margin-top: 5px;
    display: inline-block;
    margin-right: 8px;
    color: #6a6a6a;
    padding:0;
    float: left;
    margin-left: 2px;
    width: 60px;
    text-align: left;
}
.callNameBox{
    border-bottom: #a4a4a4 solid 1px;
    margin-top: 20px;
    margin-left: 5px;
    width:240px;
    display: inline-block;
}

.onTimeBtn{
    border:#1bb9e0 solid 1px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    float: left;
    background-color: #f2f2f2;
}
.askForLeave{
    border:#64d8ae solid 1px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    float: left;
    background-color: #f2f2f2;
}
.skipClass{
    border:#f26d3e solid 1px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    float: left;
    background-color: #f2f2f2;
}